<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <title>Index</title>
  <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
  <img src="~/images/LOGO.png" alt="LOGO" class="logo"/>
  <h2>welcome to the store</h2>
  shit i have to learn html now to make a cool home page
</body>
</html>