<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <title>Index</title>
  <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>

  <body class="container"></body>
<body>
  <img src="~/images/LOGO.png" alt="LOGO" class="logo"/>
  <h2 class="h1">welcome to DukaMoja</h2>
  <br />
 <p class="container-fluid">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati asperiores assumenda aliquid placeat maiores doloremque perspiciatis voluptates sunt id, ratione aliquam ad alias ut eligendi accusantium delectus, nemo accusamus ab.</p>
  <input type="button" value="buy"class="btn btn-danger"/>
  </body>
</html>
